.container {
  display: flex;
  flex-direction: row;

  .navlink {
    text-decoration: none;
    color: #5f6165;
    margin-left: 3%;
    text-decoration: none;
    padding: 0% 2%;
    border-radius: 5px;
    &:hover {
      background: #292e3d;
      color: white;
      transition: all 0.2s;
    }
    &:active {
      color: white;
    }
  }
  margin: 4% 0%;
}
