#dark {
  .booking {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    background: #1f2128;
    color: white;

    position: absolute;

    left: 22rem;
    top: 6rem;
    .cars-contianer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding-right: 5%;
      padding-top: 2%;
      gap: 24px;

      width: 120%;
      height: 630px;
      overflow-y: scroll;
      img {
        cursor: pointer;
      }
    }
    .dropdown-toggle {
      color: #ffffff;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 20px;
      gap: 23px;

      background: #242731;
      border-radius: 22.5px;
    }

    .dropdown-menu {
      background: #292e3d;
      option {
        color: white;

        &:hover {
          color: black;
        }
      }
    }
    .search-holder {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 113%;
      img {
        cursor: pointer;
      }
    }
  }
}

#light {
  .booking {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    justify-content: center;

    position: absolute;

    left: 22rem;
    top: 6rem;
    .cars-contianer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding-right: 5%;
      padding-top: 2%;
      gap: 24px;

      width: 120%;
      height: 630px;
      overflow-y: scroll;
    }
    .dropdown-toggle {
      color: #5f6165;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 20px;
      gap: 23px;

      background: #ffffff;
      border-radius: 22.5px;
    }
    .search-holder {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 113%;
      img {
        cursor: pointer;
      }
    }
  }
}
