body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Source Code Pro", monospace;
  font-style: normal;
  font-weight: 1000;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  background-color: #f5f4f6;
  word-spacing: 0%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
