.sender {
  display: flex;
  flex-direction: row;
  max-width: 90%;
  min-width: 90%;

  margin: 5% 0%;

  margin-top: 2%;

  display: flex;
  flex-direction: row;

  p {
    background: #2b2e38;
    border-radius: 0px 10px 10px 10px;
    text-align: start;
    max-width: 80%;
    min-width: 20%;
    padding: 2% 0.9rem;

    margin-left: 2%;

    word-wrap: break-word;
    word-break: break-all;
  }
  .time {
    font-size: 80%;
    align-self: flex-end;
    width: 10%;
  }
}
.recipient {
  display: flex;
  flex-direction: row;
  max-width: 90%;
  min-width: 90%;

  margin: 5% 0%;

  display: flex;
  flex-direction: row-reverse;

  p {
    background: #a162f7;
    border-radius: 10px 0px 10px 10px;
    text-align: start;
    max-width: 80%;
    min-width: 20%;
    padding: 2% 0.9rem;
    margin-top: 5%;

    margin-right: 2%;

    word-wrap: break-word;
    word-break: break-all;
  }
  .time {
    font-size: 80%;
    align-self: flex-end;
    width: 10%;
  }
}
.dasd {
  display: flex;

  .avatar {
    align-self: flex-end;
  }

  flex-direction: row-reverse;

  max-width: 100%;
  background: #a162f7;
  border-radius: 10px 0px 10px 10px;
  min-height: 20%;
  text-align: end;
  padding: 1% 2% 2% 1%;
  margin-right: 2%;
  margin-top: 5%;

  .time {
    font-size: 80%;
    align-self: flex-end;
  }
}
