#dark {
  .sender {
    display: flex;
    flex-direction: row;
    width: 100%;

    height: fit-content;

    margin: 3% 0%;
    margin-bottom: 6%;
    display: flex;
    flex-direction: row;

    p {
      background: #2b2e38;
      border-radius: 0px 10px 10px 10px;
      text-align: start;
      max-width: 80%;
      min-width: 20%;
      padding: 2% 0.9rem;

      margin-left: 2%;

      word-wrap: break-word;
      word-break: break-all;
    }
    .time {
      font-size: 80%;
      align-self: flex-end;
      width: 5%;
    }
  }
  .recipient {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;

    margin: 3% 0%;
    margin-bottom: 6%;

    display: flex;
    flex-direction: row-reverse;

    p {
      background: #a162f7;
      border-radius: 10px 0px 10px 10px;
      text-align: start;
      max-width: 80%;
      min-width: 20%;
      padding: 2% 0.9rem;
      margin-top: 5%;

      margin-right: 2%;

      word-wrap: break-word;
      word-break: break-all;
    }
    .time {
      font-size: 80%;
      align-self: flex-end;
      width: 5%;
    }
  }
}

#light {
  .sender {
    display: flex;
    flex-direction: row;
    width: 100%;

    height: fit-content;

    margin: 3% 0%;
    margin-bottom: 6%;
    display: flex;
    flex-direction: row;

    p {
      background: #f5f6fa;
      border-radius: 0px 10px 10px 10px;
      text-align: start;
      max-width: 80%;
      min-width: 20%;
      padding: 2% 0.9rem;

      margin-left: 2%;

      word-wrap: break-word;
      word-break: break-all;
    }
    .time {
      font-size: 80%;
      align-self: flex-end;
      width: 5%;
    }
  }
  .recipient {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;

    margin: 3% 0%;
    margin-bottom: 6%;

    display: flex;
    flex-direction: row-reverse;

    p {
      background: #a162f7;
      border-radius: 10px 0px 10px 10px;
      text-align: start;
      max-width: 80%;
      min-width: 20%;
      padding: 2% 0.9rem;
      margin-top: 5%;

      margin-right: 2%;

      word-wrap: break-word;
      word-break: break-all;
    }
    .time {
      font-size: 80%;
      align-self: flex-end;
      width: 5%;
    }
  }
}
