#dark {
  .main {
    .sign-up-container {
      display: flex;
      flex-direction: column;
      width: fit-content;
      text-align: end;
      align-items: center;
      text-align: left;
      align-items: center;
      padding: 1% 0%;
      height: fit-content;
      color: white;
      a {
        text-decoration: none;
        color: #a162f7;
        cursor: pointer;
      }
      .title {
        h1 {
          font-weight: bolder;
        }
      }

      .buttons-container {
        display: flex;
        justify-content: space-between;
        margin: 1% 0;
        width: 100%;
        gap: 3%;
      }

      .form-container {
        box-sizing: border-box;

        /* Auto layout */

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 14px;

        width: 100%;
        height: fit-content;
        background: #242731;
        /* 6 */

        box-shadow: 0px 10px 10px 1px rgba(59, 59, 59, 0.08);
        /* 6 */

        border-radius: 10px;

        input {
          margin-top: 2%;
          border: 1px solid #b1b5c3;
          border-color: #323745;
          color: white;

          border-radius: 10px;
        }
      }

      .separator {
        display: flex;
        margin: 2% 0%;
        align-items: center;
        div {
          width: 230px;
          height: 1px;
          margin: 1%;

          background: #323745;
        }
      }

      .below-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        button {
          color: white;
        }
      }
    }
  }
}

#light {
  .main {
    background: white;

    .sign-up-container {
      background: white;

      display: flex;
      flex-direction: column;
      width: fit-content;
      text-align: end;
      align-items: center;
      text-align: left;
      align-items: center;
      padding: 1% 0%;
      height: fit-content;
      a {
        text-decoration: none;
        color: #a162f7;
        cursor: pointer;
      }
      .title {
        h1 {
          font-weight: bolder;
        }
      }

      .buttons-container {
        display: flex;
        justify-content: space-between;
        margin: 1% 0;
        width: 100%;
        gap: 3%;
      }

      .form-container {
        box-sizing: border-box;

        /* Auto layout */

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 14px;

        width: 100%;
        height: fit-content;
        background: #ffffff;

        /* 6 */

        border: 1px solid #f4f5f6;
        box-shadow: 0px 10px 110px 1px rgba(255, 0, 0, 0.08);
        border-radius: 10px;

        input {
          margin-top: 2%;
          border: 1px solid #b1b5c3;
          border-radius: 10px;
        }
      }

      .separator {
        display: flex;
        margin: 2% 0%;
        align-items: center;
        div {
          width: 230px;
          height: 1px;
          margin: 1%;

          background-color: #e6e8ec;
        }
      }

      .below-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        button {
          color: white;
        }
      }
    }
  }
}
